<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangjia.cutkey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.SerchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.WorkRecodActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.QueueJobsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.OptionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.InfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.ToothProcessActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.KeySerchResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.DeviationSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.CarFactiorySerchSerialActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.CodePrcessActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.AddMachiningActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.JawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.KeyJawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.ProcessResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.FunctionTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.SpeedChangeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.KeyProcessSerchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".function.CarSerchXuliehaoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".function.KeySerch_XunlieActivity"></activity>
    </application>

</manifest>